$def with (todos, form)

<table border="1">
    <tr>
        <th>PIN NUMBER</th>
        <th>LOCATION</th>
        <th>DESCRIPTION</th>
        <th>STATUS</th>
        <th>ACTIVE</th>
        <th>REMOVE</th>
    </tr>
<td>
$for todo in todos:
    <tr>
        <td>$todo.id</td>
        <td>$todo.room</td>
        <td>$todo.title</td>
        <td>$todo.status</td>
        <td>$todo.active</td>
        <td>
           <form action="/del/$todo.id" method="post">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
</table>

<form action="" method="post">
$:form.render()
</form>
